@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    padding-bottom: 25px;
}

.load-more {
    color: white;
    background-color: rgb(55, 55, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 45px;
    margin-top: 25px;
    margin-inline: auto;
    border-radius: 4px;
    transition-duration: 250ms;

    &:hover {
        background-color: rgb(0, 0, 255);
        transition-duration: 250ms;
    }
}